/* Reseteo básico para remover margenes, padding y establecer box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Estilo del cuerpo de la página */
body {
    min-height: 100vh;
    background-color: rgb(12, 13, 29);
    display: grid;
    place-items: center;
}
.body-light {
    min-height: 100vh;
    background-color: rgb(252, 224, 164);
    display: grid;
    place-items: center;
}
/** TEXTOS DE INICIO   */ 
.contenedor-textos {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.titulo-inicio {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    margin-bottom: 10px; /* Añade un pequeño margen entre el título y el texto */
    color: #fff;
    text-shadow: 1px 1px rgb(74, 143, 247), 2px 2px rgb(6, 63, 138), 3px 3px rgb(8, 93, 204);
}
.titulo-inicio-light {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
    margin-bottom: 10px; /* Añade un pequeño margen entre el título y el texto */
    color: #100f0f;
    text-shadow: 1px 1px rgb(255, 147, 6), 2px 2px rgb(138, 85, 6), 3px 3px rgb(204, 126, 8);
}

.efecto-typing {
    font-family: 'Kode Mono', monospace; /* Asegúrate de que la fuente sea monoespaciada */
    overflow: hidden; /* Oculta el texto que "sale" del contenedor */
    color: #fff;
    text-shadow: 1px 1px rgb(74, 143, 247), 2px 2px rgb(6, 63, 138), 3px 3px rgb(8, 93, 204);
    border-right: .15em solid white; /* Simula el cursor de escritura */
    white-space: nowrap; /* Evita que el texto se envuelva a una nueva línea */
    width: 0; /* Comienza con el contenedor del texto completamente cerrado */
    animation: typing 8s steps(40, end) infinite, /* Ajusta la duración según necesites */
              blink-caret .75s step-end infinite; /* Animación del cursor */
}
.efecto-typing-light {
    font-family: 'Kode Mono', monospace; /* Asegúrate de que la fuente sea monoespaciada */
    overflow: hidden; /* Oculta el texto que "sale" del contenedor */
    color: #0b0b0b;
    text-shadow: 1px 1px rgb(255, 147, 6), 2px 2px rgb(138, 85, 6), 3px 3px rgb(204, 126, 8);
    border-right: .15em solid rgb(3, 3, 3); /* Simula el cursor de escritura */
    white-space: nowrap; /* Evita que el texto se envuelva a una nueva línea */
    width: 0; /* Comienza con el contenedor del texto completamente cerrado */
    animation: typing 8s steps(40, end) infinite, /* Ajusta la duración según necesites */
              blink-caret .75s step-end infinite; /* Animación del cursor */
}

@keyframes typing {
    0%, 25% { width: 0; }
    50%, 75% { width: 100%; }
    100% { width: 0; }
}

@keyframes blink-caret {
    0%, 100% { border-color: transparent; }
    25%, 75% { border-color: white; } /* Ajusta para mantener la consistencia con typing */
}


/** MODE DARK AND LIGHT */ 
.mode {
    position: fixed; /* Esto hace que el contenedor del switch sea fijo en la pantalla */
    top: 20px; /* Distancia desde el top del viewport */
    right: 20px; /* Distancia desde el right del viewport */
    z-index: 100; /* Asegura que el switch esté sobre otros elementos */
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9a86fd;
    border-radius: 34px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.slider::before{
    position: absolute;
    content: ' ';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input:checked+ .slider{
    background-color: #ffdb70;
}
input:focus+ .slider{
    box-shadow: 0 0 1px #ffdb70;
}
input:checked+ .slider::before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Estilos de la calculadora */
.calculadora {
    background-color: rgb(20, 52, 82);
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.2rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}
.calculadora-light {
    background-color: rgb(82, 55, 20);
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.2rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

/* Estilo de la pantalla de la calculadora */
.pantalla {
    grid-column: 1 / -1;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    background-color: rgb(11, 22, 61);
    overflow: hidden; /* Previene que el contenido se salga de su contenedor */
    white-space: nowrap; /* Mantiene el texto en una sola línea */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
}
.pantalla-light {
    grid-column: 1 / -1;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    background-color: rgb(61, 35, 11);
    overflow: hidden; /* Previene que el contenido se salga de su contenedor */
    white-space: nowrap; /* Mantiene el texto en una sola línea */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el texto es demasiado largo */
}

/* Estilo de los botones de la calculadora */
.btn {
    background-color: rgb(22, 153, 170);
    color: white;
    border-radius: 1rem;
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-light {
    background-color: rgb(170, 111, 22);
    color: white;
    border-radius: 1rem;
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Hover para los botones de la calculadora */
.btn:hover {
    background-color: grey;
}

/* Estilo para el botón cero y el botón igual, ajustando el grid */
#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: rgb(17, 85, 28);
}

#igual:hover {
    background-color: rgb(15, 204, 87);
}

/* Estilos para el botón de ingresar a la calculadora */
.body-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(20, 52, 82);
}

.boton-circular {
    position: relative;
    overflow: hidden;
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 40px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(17, 66, 172, 0.7);
    animation: glowing-border 5s linear infinite;
    
}
.boton-circular:hover {
    transform: scale(1.1);
}
.boton-circular-light {
    position: relative;
    overflow: hidden;
    background: rgb(245, 244, 244);
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: rgb(4, 4, 4);
    font-size: 24px;
    font-weight: bold;
    border-radius: 40px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(242, 147, 39, 0.7);
    animation: glowing-border-light 5s linear infinite;
    
}

.boton-circular-light:hover {
    transform: scale(1.1);
}
/** BOTON DE SALIDA*/
.button-salida {
    position: relative;
    overflow: hidden;
    background: black;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 12px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(17, 66, 172, 0.7);
    animation: glowing-border 5s linear infinite;
}
.button-salida:hover{
    transform: scale(1.1);
}
.button-salida-light {
    position: relative;
    overflow: hidden;
    background: rgb(249, 248, 248);
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color: rgb(5, 4, 4);
    font-size: 24px;
    font-weight: bold;
    border-radius: 12px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(242, 178, 39, 0.7);
    animation: glowing-border-light 5s linear infinite;
}
.button-salida-light:hover{
    transform: scale(1.1);
}

@keyframes glowing-border {
    0%, 100% {
        box-shadow:
            0 0 10px rgba(17, 66, 172, 0.7),
            0 0 20px rgba(30, 108, 253, 0.7),
            0 0 30px rgba(65, 92, 245, 0.7),
            0 0 40px rgba(1, 13, 83, 0.7)
    }
    25%, 75% {
        box-shadow:
            0 0 15px rgba(17, 66, 172, 1),
            0 0 25px rgba(30, 108, 253, 1),
            0 0 35px rgba(65, 92, 245, 1),
            0 0 45px rgba(1, 13, 83, 1)
    }
    50% {
        box-shadow:
            0 0 20px rgba(17, 66, 172, 0.5),
            0 0 30px rgba(30, 108, 253, 0.5),
            0 0 40px rgba(65, 92, 245, 0.5),
            0 0 50px rgba(1, 13, 83, 0.5)
    }
}
@keyframes glowing-border-light {
    0%, 100% {
        box-shadow:
            0 0 10px rgba(255, 115, 0, 0.7),
            0 0 20px rgba(253, 182, 30, 0.7),
            0 0 30px rgba(248, 146, 30, 0.7),
            0 0 40px rgba(158, 85, 1, 0.7)
    }
    25%, 75% {
        box-shadow:
            0 0 10px rgba(255, 115, 0, 0.7),
            0 0 20px rgba(253, 182, 30, 0.7),
            0 0 30px rgba(248, 146, 30, 0.7),
            0 0 40px rgba(158, 85, 1, 0.7)
    }
    50% {
        box-shadow:
            0 0 10px rgba(255, 115, 0, 0.7),
            0 0 20px rgba(253, 182, 30, 0.7),
            0 0 30px rgba(248, 146, 30, 0.7),
            0 0 40px rgba(158, 85, 1, 0.7)
    }
}

/* Estilos por defecto para dispositivos más grandes */
/* Tus estilos actuales entran aquí */

/* Estilos por defecto para dispositivos más grandes (incluidos en tu CSS actual) */

/* Media queries */

/* Tabletas y dispositivos con pantalla menor o igual a 768px de ancho */
@media (max-width: 768px) {
    .titulo-inicio, .efecto-typing {
        font-size: 40px; /* Tamaño de fuente reducido para tablets */
    }

    .calculadora {
        width: 80%; /* Ajusta la anchura de la calculadora para que no sea demasiado grande */
    }

    .btn, #cero, #igual {
        padding: 10px 0; /* Reduce el padding de los botones para más espacio */
    }

    .boton-circular, .button-salida {
        padding: 12px 24px; /* Ajusta el tamaño de los botones */
        font-size: 18px; /* Reduce el tamaño de fuente en los botones */
    }
}

/* Teléfonos móviles y dispositivos con pantalla menor o igual a 480px de ancho */
/* Estilos por defecto para dispositivos más grandes incluidos en tu CSS actual */

/* Para teléfonos móviles */
/* Para teléfonos móviles */
@media (max-width: 600px) {
    .titulo-inicio {
        font-size: 20px; /* Ajusta el tamaño para pantallas pequeñas */
    }

    .efecto-typing {
        display: none; /* Oculta elementos no esenciales */
    }

    .calculadora, .boton-circular, .button-salida {
        width: 90%; /* Ajusta la anchura para pantallas pequeñas */
        margin: 10px auto; /* Centra los elementos horizontalmente */
    }

    .btn {
        padding: 8px; /* Reduce el padding de los botones */
        font-size: 14px; /* Reduce el tamaño de la fuente de los botones */
    }

    /* Ajusta la posición del botón de modo oscuro/claro para mantenerlo en la esquina superior derecha */
    .mode {
        position: fixed;
        top: 10px; /* Ajusta según sea necesario para alinear con el margen superior */
        right: 10px; /* Asegura que se alinea a la derecha */
        z-index: 100; /* Asegura que el switch esté sobre otros elementos */
    }
}


/* Para notebooks */
@media (min-width: 601px) and (max-width: 1024px) {
    .titulo-inicio {
        font-size: 30px; /* Adecuado para notebooks */
    }

    .efecto-typing, .mode, .boton-circular, .button-salida {
        display: block; /* Asegura que todos los elementos sean visibles */
    }

    .calculadora {
        width: 70%; /* Ajusta la anchura para notebooks */
    }

    .btn {
        padding: 10px; /* Padding ligeramente mayor para botones */
        font-size: 16px; /* Tamaño de fuente mayor para botones */
    }
}

@media (min-width: 1025px) {
    /* Aquí puedes ajustar los estilos específicamente para pantallas grandes si es necesario */
    /* Por ejemplo, podrías querer aumentar el tamaño de la fuente de los textos o la calculadora */
}
